.footer_main{
    display: block;
    text-align: center;
    padding: 1rem 0;
    font-family: 'Lato';
    // border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    .socials{
        a{
            margin-left: 0.9rem;
            font-size: 1.5rem;
        }
        .mobile_email{
            display: none;
        }
    }
}

@media only screen and (max-width: 600px) {
    .footer_main{
        font-size: 1rem;
        flex-direction: column;
        .socials{
            a{
                margin-left: 0.9rem;
                font-size: 1.5rem;
            }
            .mobile_email{
                display: inline;
            }
        }
        .email{
            display: none;
        }
    }
}
